<h1> My Notes</h1>



<% @notes.map do |n| %>
  <% @notes.group_by{|n| n[:topic]} %>
  <h3><%=n.topic%></h3> - <a href="/notes/<%=n.id%>"><%=n.title %></a> <br>
  <%end%>
 
  
  





    

    
    




