<h1> Notes by <%= current_user.name %></h1>



<% @notes.each do |note| %>

 
  <%=note.topic%> - <a href="/notes/<%=note.id%>"><%=note.title %></a> <br>
  
  <%end%>
 
  
  





    

    
    




