<h1> Notes by <%= current_user.name %></h1>


<% @topics.each do |topic| %>
 
  <b><%=topic.name%> <br> <%topic.notes.each do |note| %> -<a href="/notes/<%=note.id%>"><%=note.title %></a> <br>
  
  <%end%>

  <%end%>


    

    
    




