<h2>Add a new note here:</h2>

<form method="post" action="/notes">
Title: <input type="text" name="title">
Topic: <input type="text" name="topic">
Date: <input type="date" name="date"><br>
<br>
<label for="content">Content:</label><br>
<input type="text" name="content" style="width: 300px;height:300px" /> <br>
<br>
<input type="submit" value="Create Note">
</form>