<h2>Add a new note here:</h2>
<img id="languages" src="https://cdn.pixabay.com/photo/2016/05/10/13/17/notepad-1383707_960_720.png" alt="notes in different languages">
<form method="post" action="/notes">
Title: <input type="text" name="title" required="true">
Topic: <select name="topic_id" required="true">
    <% Topic.all.each do |topic| %>
    <option value="<%= topic.id %>"><%= topic.name %>  </option>
    <% end %>
    </select>         
Date: <input type="date" name="date" required="true" class="formButtons"><br>
<br>
Content:<br>
<textarea rows="25" cols ="50" required="true" name="content"></textarea><br>
<br>
<input type="submit" value="Create My Note">
</form>