<h2>Add a new note here:</h2>

<form method="post" action="/notes">
Title: <input type="text" name="title" required="true">
Topic:    <select name="topic_id">
    <% Topic.all.each do |topic| %>
    <option value="<%= topic.id %>"><%= topic.name %> required="true" </option>
<% end %>
</select> 
        
Date: <input type="date" name="date" required="true">
<input type="submit" value="Create Note">
<br>
<br>
Content:<br>
<textarea rows="25" cols ="50" required="true" name="content"></textarea><br>
<br>

</form>