<h1>Please log in below:</h1>
<br>
<form method="post" action="/login">
<label for="email">Email:</label><br>
 <input name="email" type="email"><br>
 <br>
 <label for="email">Password:</label><br>
<input name="password" type="password">
<button class="main1" type = "submit">Log In</button> 
</form>
<br>
<br>

<p> Oops, I don't have an account yet, I meant to  <a href="/signup">Sign Up</a> </p>