<h1>Please log in below:</h1>
<br>
<img id="pen" src="https://cdn.pixabay.com/photo/2016/02/19/10/12/writing-1209121_1280.jpg" alt="writing with fountain pen">
<form method="post" action="/login">
<label for="email">Email:</label><br>
 <input name="email" type="email"><br>
 <br>
 <label for="email">Password:</label><br>
<input name="password" type="password">
<input type="submit" value="Log In">
</form>
<br>
<br>

<p> Oops, I don't have an account yet, I meant to  <a href="/signup">Sign Up</a> </p>
<br>

<p class="quotes">  "A word after a word after a word is power."
-Margaret Atwood </p>
