<h1>Please login below:</h1>
<br>
<form method="post" action="/login">
<label for="email">Email:</label><br>
 <input name="email" type="email"><br>
 <label for="email">Password:</label><br>
<input name="password" type="password">
<input type="submit" value="Login">
</form>
<br>
<br>

<p> Oops, I don't have an account, I meant to <a href="/Sign in">Login </a> </p>