<h1>Sign up below:</h1>
<br>
<form method="post" action="/signup">
Name: <input name="name" type="text">
Email: <input name="email" type="email">
Password <input name="password" type="password"> 
<button class="main1" type = "submit">Sign Up</button> 
</form>
<br>
<br>

<p> Oops, I am already a user, I meant to <a href="/login">Log In</a> </p>
