<h1>Sign up below:</h1>
<br>
<form method="post" action="/signup">
Name: <input name="name" type="text">
Email: <input name="email" type="email">
Password <input name="password" type="password">
<input type="submit" value="SIGN UP">
</form>
<br>
<br>

<p> Oops, I am already a user and I meant to <a href="/login">Login </a> </p>
