
<div class="container">
<div class="col-md-8 col-md-offset-2" >
  
    <h1>Welcome to Persist-it</h1>
  <br>

    <div class="content">
      <p>This is your space for keeping your notes organized and safe. Write notes here or copy and paste them in. Come back at any time to view your all you notes, edit, and/or delete your notes. Record, reminisce, and remember! </p>
    
    </div>
    <img src=""> 
    <div class="sidebar">
      
      <ul>
        <li><b>Glad you're back! Please <a href="/login">Log in </a> 
        </li>
        <br>
        <li>New here? Let's get you started: <b><a href="/signup">Sign up </a>  </li>
      </ul>
    </div>

  </div>
</div>
