
<div class="container">
  <div class="col-md-8 col-md-offset-2" >
     <h1 class= welcome"> Welcome to Persist-it</h1>
     <class= "firstQuote"> "We write to taste life twice, in the moment and in retrospect."
-Anaïs Nin 

      <br>
      <h5 class="message"> Your own virtual notebook, where all your notes are grouped by topic.</h5><br>
    <div class="content">
      <p> This is your space for keeping your notes catergorized and safe. Write notes here or copy and paste them in. Come back at any time to view your all you notes, edit, and/or delete your notes. </p>
      <p><b>Life just got a little more organized!  </p>
    </div>

  
      <div class="sidebar">  
      <ul>
        <li><b>Glad you're back! Please <button type="buttons"> <b><a href="/login">Log in </a> </button>
        </li>
        <br>
        <li>New here? Let's get you started: <button type="buttons"><b><a href="/signup">Sign up </a> </button> </li>
      </ul>
    </div>
  </div>
</div>
