
<div class="container">
  <div class="col-md-8 col-md-offset-2" >
     <h1 class= welcome"> Welcome to Persist-it</h1>
      <br>
      <h5 class="message"> Your own virtual notebook...</h5><br>
    <div class="content">
      <p> This is your space for keeping your notes organized and safe. Write notes here or copy and paste them in. Come back at any time to view your all you notes, edit, and/or delete your notes. Record, reminisce, and remember!  </p>
    </div>

    <section id="welcome image">
    <figure>
      <img src="https://burst.shopify.com/photos/stone-steps-with-a-person-sitting-with-white-paper-on-their-lap" alt="Note Taking" title="Notes">
      <figcaption>Here to change how you save and organize notes!</figcaption>
    </figure>

      <div class="sidebar">  
      <ul>
        <li><b>Glad you're back! Please <button type="buttons"> <b><a href="/login">Log in </a> </button>
        </li>
        <br>
        <li>New here? Let's get you started: <button type="buttons"><b><a href="/signup">Sign up </a> </button> </li>
      </ul>
    </div>
  </div>
</div>
