<div class="container">
<div class="col-md-8 col-md-offset-2" >
  
    <h1>Welcome to Persist-it</h1>
  <br>

    <div class="content">
      <p>This is your space for keeping your notes organized and safe. Write notes here or copy and paste them in. Fill out a title and topic. Submit your note. Come back at any time to view your all you notes organized by topic, edit, and/or delete your notes. Record, reminisce, and remember!  </p>
    </div>

    <div class="sidebar">
      
      <ul>
        <li><b> <a href="/login">Login </a> 
        </li>
        <li><a href="/signup">Sign Up  </a>  </li>
      </ul>
    </div>

  </div>
</div>
