<img id="scraps" src="https://cdn.pixabay.com/photo/2019/12/20/09/03/scrap-paper-4708021_1280.png" alt="scrap paper">

<div class="container">
  <div class="col-md-8 col-md-offset-2" >
 
     <h1 class="title"> Welcome to Persist-it</h1> 
     
     <p class="quote1"> "We write to taste life twice, in the moment and in retrospect."  </p>
     <p class="author1">-Anaïs Nin </p><br>
     
      <div class="content"> 
      <h5 class="message"> Your own virtual notebook, where all your notes are grouped by topic.</h5><br>
      <p> This is your space for keeping your notes categorized and safe. Write notes here or copy and paste them in. Come back any time to view, edit, or delete your notes. </p>
      <br>
      <p><b>Life just got a little more organized! </p>
      </div>


      <div class="sidebar">  
        <img id="notepad" src="https://cdn.pixabay.com/photo/2014/04/03/00/36/notebook-308849_960_720.png" alt="pencil and notepad">
        <div class="login"><b>Glad you're back! <br>
         Please <button type="buttons"> <b><a href="/login">Log in </a> </button> </div>
        <div class="signup">New here? <br> Please <button type="buttons"><b><a href="/signup">Sign up </a> </button> </div>
      </ul>
    </div>
  </div>
</div>
